body{
	margin:0;
	font-family: 'Roboto', sans-serif;
	color:#000;
}
button.owl-prev, button.owl-next {
    width: 40px;
}
.owl-nav {
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 50%;
    margin: 0 !important;
    padding: 0 8px;
    transform: translateY(-50%);
}
.owl-theme .owl-nav [class*='owl-']:focus,.owl-theme .owl-nav [class*='owl-']:hover {
    background: transparent !important;
    color: #FFF;
    text-decoration: none !important;
    outline: none  !important;
}
.catnav, .sortbyorder {
    display: none;
}
/* The animation code */
@keyframes slide1 {
  0%   {right:-100%;}
  50%   {right:-100%;}
  100% {right: 0}
}
@keyframes slide2 {
  0%   {left:-100%;}
  100% {left: 0}
}
@keyframes slide3 {
  0%   {left:-100%;}
  75%   {left:-100%;}
  100% {left: 10%}
}

img.component-slide1 {
    position: absolute;
    right: 0;
    bottom: 0;
	transition:all 2s ease-out;
	animation-name: slide1;
	animation-duration: 2s;
    max-width: 55%;
}
img.component-slide2 {
    position: absolute;
    left: 0;
    bottom: 0;
	transition:all 1.5s ease-out;
	animation-name: slide2;
	animation-duration: 1.5s;
    max-width: 90%;
}
img.component-slide3 {
    position: absolute;
    left: 10%;
	transition:all 2.5s ease-out;
	animation-name: slide3;
	animation-duration: 2.5s;
    bottom: 0;
    max-height: 80%;
}
img{max-width:100%;}
.content-wrapper {
    padding: 0 10px;
    margin-bottom: 50px;
}
.form_beli > .product_attributes {
    padding-top: 5px;
}
#call-block  .more:hover {background:#fff;color:#111f2a}
.more:hover,.btn-cart:hover {background:#adadad;color:#111f2a}
#call-block .more {background:transparent;border-color:#fff}
.more,.btn-cart {
    background: #FE990B;
    box-shadow: 0 -15px 15px -15px rgba(0, 0, 0, 0.3) inset, 0 0 2px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    border: 2px solid #fff;
    color: #fff;
    font-weight: bold;
    border-radius: 0;
    padding: 8px 25px;
    text-transform: uppercase;
    font-size: 13pt;
    border-radius: 4px;
}
.container .widget-right input[type="submit"], div#cartwidget .order_submit {
    background: no-repeat scroll 93% 9px #eee;
    border: 2px solid #fff;
    border-radius: 3px;
    box-shadow: 0 -15px 15px -15px rgba(0, 0, 0, 0.3) inset, 0 0 2px rgba(0, 0, 0, 0.2);
    color: #fff;
}
.container .widget-right input[type="submit"], div#cartwidget .order_submit {
    font-size: 14px;
    margin-top: 6px;
    display: block;
    padding: 5px 12px 6px 12px;
    text-align: center;
    width: 100%;
    border-radius: 4px;
    color: #000;
    text-transform: uppercase;
}
.widget-right input[type="text"],.widget-right input[type="email"],.widget-right input[type="password"],.widget-right input[type="number"] {
    width: 100%;
    padding: 5px 12px;
    border: 1px solid #aaa;
    border-radius: 3px;
}
.fa {
    margin-right: 5px;
    font-size: 13pt;
}
a.link_kembali {
    margin-right: 30px;
}
.col-md-9 input[type="text"],.col-md-9 input[type="email"],.col-md-9 input[type="pasword"],.col-md-9 input[type="number"] {
    width: 100%;
    padding: 5px 12px;
    border: 1px solid #aaa;
    border-radius: 3px;
}
select[name="payment"]{
    width: auto;
    padding: 7px 12px;
    border: 1px solid #aaa;
    border-radius: 3px;
}
.widget-right .well {
    background: transparent;
	padding:0;
	padding-bottom:1px;
    box-shadow: none;
    border-radius: 0;
	border:0;
	margin-bottom:20px;
	text-align:center;
}
.widgettitle {
    background: #fff none repeat scroll 0 0;
    border: medium none;
    color: #cccccc;
    display: block;
    font-size: 30px;
    height: auto;
    line-height: 0;
    margin: 0 0 10px;
    position: relative;
    text-align: center;
    z-index: 3;
}
.widgettitle::before {
    background: #f6f6f6 none repeat scroll 0 0;
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    top: 50%;
    width: 100%;
    z-index: -1;
    margin-top: -1.5px;
}
.widgettitle > h4 {
    background: #fff none repeat scroll 0 0;
    color: #FE990B;
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    padding: 0 9px;
    text-align: center;
    text-transform: uppercase;
    top: 0;
}
.widgetcontent {
    border: 1px solid #f5f5f5;
    margin-bottom: 20px;
    padding: 10px ;
}
h1.page-header {
    border: 0;
    font-weight: bold;
    color: #FE990B;
	text-align:center;
	margin-top:0;
	text-transform:uppercase;
	font-size:32px;
	line-height:1.3;
	margin-bottom:40px;
}
h1.page-header:after {
    content: "";
    width: 80px;
    height: 5px;
    background: #FE990B;
    display: block;
    position: relative;
    margin: 10px auto 0;
}
p {
    margin: 0 0 10px;
}


/*HEADER TOP*/
div#header-top {
    background: #111f2a;
    padding: 15px 0;
	color:#fff
}
div#header-top  ul{margin:0;}
div#header-top  p{margin:0;}
div#header-top  a{color:#fff}


/*HEADER*/
.navbar-inverse .navbar-toggle {
    border: 0;
    margin-right: 2px;
    float: none;
}
.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #000;
    height: 4px;
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: transparent;
}
.navbar-inverse .navbar-toggle:focus .icon-bar, .navbar-inverse .navbar-toggle:hover .icon-bar{
    background-color: #f9b81e;
}
#header-site {
    border: 0;
    border-radius: 0;
    padding: 7px 0;
    background: transparent;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 2;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
}
#header-site a.navbar-brand {
    font-weight: bold;
    color: #000;
    text-transform: uppercase;
    font-size: 16pt;
    height: auto;
    display: block;
    line-height: normal;
}
nav#header-site .container {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}
div#bs-example-navbar-collapse-1 {
    padding: 0;
}
nav#header-site .container:before, nav#header-site .container:after{display:none}
.navbar-inverse .navbar-nav>li {margin-left:20px}
.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
	background: transparent;
    color: #fff;
}
/* .navbar-inverse .navbar-nav>li>a { */
    /* color: #000; */
    /* font-weight: bold; */
    /* padding: 10px 15px 36px; */
    /* margin-top: 26px; */
/* } */
.navbar-inverse .navbar-nav>li>a {
    color: #fff;
    position: relative;
    font-weight: bold;
    display: flex;
    font-size: 15px;
    align-items: center;
    text-transform: uppercase;
}


/*CALL BLOCK*/
div#call-block {
    background: #FE990B;
	color:#fff;
}

div#call-block .container:before, div#call-block .container:after{display:none}
div#call-block .container {
    display: flex;
    justify-content: space-between;
	padding:14px 15px;
    align-items: center;
}
div#call-block h2 {
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
    font-size: 14pt;
}





/*SLIDE*/
div#slide-home img{width:100%;}
div#slide-home {
    position: relative;
	overflow:hidden;
	margin-bottom:50px;
}
#slide-home .owl-item {
    padding: 0;
}
.slide-text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(-100%);
    -o-transform: translateY(-50%) translateX(-100%);
    -webkit-transform: translateY(-50%) translateX(-100%);
    -moz-transform: translateY(-50%) translateX(-100%);
    -ms-transform: translateY(-50%) translateX(-100%);
    left: 50%;
    color: #000;
	padding:0 15px;
}
.slide-text h1 {
    font-weight: bold;
    margin-bottom: 20px;
}

/*PRODUCT DETAIL*/
#description_product > table{width:100%;}
#description_product h2:before {
    content: "";
    display: inline-block;
    width: 80px;
    height: 2px;
    background: #ccc;
    vertical-align: middle;
    position: relative;
    top: -1px;
    margin-right: 15px;
}
#description_product > table{text-align:center}
#description_product > table table {
    margin-left: 25%;
    min-width: 70%;
	text-align:left
}
#description_product > table table td {
    padding-bottom: 25px;
}
a {color:#FE990B;}
#description_product a {text-decoration:underline}
#description_product ul {list-style:none;padding-left:0;}
#description_product li:before {
    content: "";
    width: 5px;
    height: 5px;
	top:7px;
    background: #bbb;
    display: inline-block;
    border-radius: 15px;
    vertical-align: middle;
    position: relative;
    margin-right: 10px;
}
#description_product li {
    margin-bottom: 4px;
	display:flex;
}
#description_product h2 {
	margin-bottom:35px;
    text-transform: uppercase;
    font-weight: bold;
    color: #FE990B;
    font-size: 28px;
	vertical-align:middle;
    display: block;
    text-align: left;
}


/*strengt*/
.strengt-item {
    display: flex;
    align-items: flex-start;
}
.strengt-item img {
    height: 52px;
    padding-right: 10px;
    box-sizing: border-box;
}
div#strengt {
    background: #f0f0f0;
    padding: 90px 0;
    color: #000;
}
.title-strengt {
    padding-left: 10px;
}
.title-strengt h4 {
    font-weight: bold;
    font-size: 12pt;
}

.product-col {
    position: relative;
    margin-bottom: 30px;
    border: 1px solid #eee;
}
.product-col .title-product h4{margin-top:0;margin-bottom:7px}
.icon-product{display:none}
.product-col .title-product a{
    position: relative;
	display: -webkit-box;
    -webkit-box-orient: vertical;
	overflow: hidden;
    -webkit-line-clamp: 2;
	color:rgba(0,0,0,.8);
	font-size:10.5pt;
    height: inherit;
}
span.price-now {
    font-size: 12pt;
    color: #ee4d2d;
}
.product-col:hover img {transform:scale(1.05)}
.product-col .image-product {overflow:hidden}
.product-col img {-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;}
.product-col .caption {
    position: relative;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
    padding:20px 13px;
}
#catalog-home table{text-align:center;width:100%}
#brands-home table{text-align:center;width:100%}

/*WHO WE ARE*/
#who-we-are .more {margin-top:15px}
#who-we-are .page-header {
    text-align: left;
    margin-bottom: 20px;
    font-size: 32px;
    margin-right: -50px;
}
#who-we-are .page-header:after {margin-left:0;margin-right:0}
#who-we-are .container > .row {
    display: flex;
    justify-content: space-between;
	padding:20px 0;
    align-items: center;
}




/*SERVICES*/
div#services-block {
    background: #f9b81e;
	padding-bottom:130px;
}
.list-services img {
    width: 110px;
    margin: 0 auto 40px;
    display: block;
}
.list-services {
    border: 1px solid #fff;
    /* text-align: center; */
    color: #000;
	margin-bottom:20px;
    /* padding:35px 15px 30px; */
    padding:20px;
}
.title-service h4 {
    font-weight: bold;
    font-size: 12pt;
    margin-bottom: 15px;
}



/*FOOTER*/
div#footerlink h2 {
    font-weight: bold;
	margin:0;
    font-size: 22pt;
    line-height: 1.2;
}
div#footerlink h2 a{
    color:#f9b81e;
}
div#footerlink h3 {
    margin-top: 0;
    font-weight: 600;
    font-size: 14pt;
    margin-bottom: 20px;
}
#footerlink p {
    margin-bottom: 10px;
}
div#footerlink a{color:#FE990B}
div#footerlink .col-sm-4:first-child{text-align:left}
div#footerlink table{width:100%;}
div#footerlink {
    color: #000;
	background:none repeat scroll 0 0 #f0f0e8;
	padding:63px 0 34px;
	text-align:center;
    /* background-repeat: no-repeat; */
    background-size: cover;
    /* background-attachment: fixed; */
}
.thumbnail-project {
    text-align: center;
    margin-bottom: 30px;
}
.images-project img{width:100%}
.content-wrapper:nth-child(2n) {
    /* background: #f3f3f3; */
}
.images-project {
    margin-bottom: 10px;
}
.project-name {
    font-size: 12pt;
    color: #333;
}
#copyright a {
    color: #f9b81e;
}
div#copyright  p{margin:0}
div#copyright {
    background: #000;
    color: #fff;
    padding: 15px 0;
}


/*PROYEK*/
div#block-filter-proyek {
    text-align: center;
    margin-bottom: 50px;
    margin-top: -20px;
}
div#config-proyek {
    text-align: center;
    margin-bottom: 50px;
}
div#block-filter-proyek .form-control {
    background: #f2f2f2;
	color:#000;
    border: 0;
    height: auto;
    box-shadow: none;
    border-radius: 0;
    padding: 9px 13px;
    display: inline-block;
    width: 240px;
    margin: 0 10px;
}
.thumbnail-proyek a:hover{text-decoration:none;}
.thumbnail-proyek a{color:#000}
.thumbnail-proyek {
    background: #f2f2f2;
	margin-bottom:30px;
    text-align: center;
}
.owner-proyek {
    color: #555;
}
.image-proyek img{width:100%;}
.title-proyek {
    font-weight: bold;
    font-size: 18px;
    min-height: 60px;
    line-height: 1.3;
    margin-top: 2px;
    padding: 0 15px;
}
.content-proyek {
    padding: 18px 0;
}


/*GALLERY*/
.gallerytitle {
    TEXT-ALIGN: CENTER;
}
.name-photo.text-center {
    padding: 10px 0;
}



/*KONTAK*/
div#noteafter iframe{max-width:100%}
div#footerlink td {
    padding: 6px 1px;
}


/*PROYEK DETAIL*/
h1.title-detail-proyek {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 21pt;
    margin-top: 0;
    margin-bottom: 0;
}
h2.type-detail-proyek {
    color: #888;
    text-transform: uppercase;
    font-size: 14pt;
    font-weight: bold;
    margin-top: 13px;
    margin-bottom: 40px;
}
.content-detail-proyek td{width:50%;padding-bottom:35px}
.content-detail-proyek table label{
	display:block;
	color:#d41a11;
	margin-bottom:15px;
	font-weight:bold;
}
.content-detail-proyek table {
    width: 100%;
}
.image-detail-proyek img{width:100%;}




@media(min-width:768px){
.row.thumbnail-product.grid > div {
    width: 33.33%;
}
.dekstop-hidden{display:none !important}
.detail-proyek {
    display: flex;
}
.image-detail-proyek {
    width: 50%;
	padding-right:20px;
}
.content-detail-proyek {
    width: 50%;
	padding-left:30px;
}
div#footerlink .row {
    /* display: flex; */
    /* align-items: center; */
}
div#footerlink .row .col-sm-4:first-child {
    display: flex;
    align-items: center;
}
	.navbar-inverse .navbar-nav>li>a:hover:after {opacity:1;bottom:17px}
	.navbar-inverse .navbar-nav>li>a:after {
		content: "";
		opacity:0;
		transition:all 0.4s ease-in-out;
		display: block;
		width: 100%;
		background: #FE990B;
		position: absolute;
		height: 6px;
		bottom: 25px;
		left: 50%;
		transform: translateX(-50%);
	}
	#slide-home-mobile{display:none !important}

	div#bs-example-navbar-collapse-1 {
		padding: 0;
		display: flex !important;
	}
	div#services-block .container > .row > div:last-child > .row {
    display: flex;
}
div#services-block .container > .row > div:last-child > .row > div {
    float: none;
    display: flex;
}
	#button-mobile{display:none}
	#close-menu{display:none}
	.bg-black {display: none;}
	/*WHO WE ARE*/
	div#who-we-are .row>div:first-child {
		padding-right: 0px;
	}
	div#who-we-are .row>div:last-child {
		padding-left: 0px;
	}
	.slide-text {width: 375px;}
	
	/*KONTAK*/
	div#contactform .form-group > div:last-child {
		width: 77%;
	}
	div#contactform .form-group > span:first-child {
		width: 20%;
		padding-left: 0;
		padding-top:6px;
	}
	div#contactform .form-group > div:last-child.col-md-offset-2 {
		margin-left: 20%;
	}
	.navbar-nav {
		float: none;
		margin: 0;
		display: flex;
		position: relative;
	}
	.navbar-nav>li {
		display: flex;
	}
	div#contactform {
		width: 60%;
		float: left;
	}
	div#noteafter {
		float: left;
		width: 40%;
		padding-left: 30px;
	}

}
@media(min-width:992px){
	.navbar-brand>img {
		display: block;
		max-height: 69px;
	}
	.slide-text {width: 485px;}
}
@media(min-width:1200px){
	.col-md-4.col-xs-6.thumb:nth-child(4n+1) {width: 25%;}
	.col-md-4.col-xs-6.thumb {width: 25%;}
	.container{width:1080px}
	.slide-text {width: 540px;}
}

@media(max-width:991px){
	.navbar-brand>img {display: block;height: 45px;}
	.navbar-inverse .navbar-nav>li {margin-left: 8px;}
	#header-top .col-sm-6:first-child {width: 100%;}
	#header-top .col-sm-6.text-right {display: none;}
}
@media(max-width:767px){
	div#footerlink .col-sm-4:first-child{text-align:center}
	#description_product ul {margin-bottom:0}
	#description_product > table table td {
		padding-bottom: 0;
	}
	#description_product h2 {
		margin-bottom: 25px;
		font-size: 17pt;
		margin-top: 10px;
	}
	#description_product > table table tr:nth-child(2) {padding-top:15px;padding-bottom:15px}
	#description_product > table  table > tbody > tr > td,#description_product > table  table > tbody > tr,#description_product > table  table > tbody,#description_product > table  table {display:block}
	#description_product > table table {
		margin-left: 0;
		min-width: 100%;
		text-align: left;
	}
	#description_product h2:before {
		content: "";
		display: inline-block;
		width: 32px;
		height: 2px;
		background: #ccc;
		vertical-align: middle;
		position: relative;
		top: -1px;
		margin-right: 9px;
	}
	.mobile-hidden{display:none !important}
	.content-detail-proyek {
		margin-top: 30px;
	}
	.content-detail-proyek td {
		display:block;
	}
	.detail-proyek {
		margin: -30px -10px 0;
	}
	div#block-filter-proyek {
		text-align: center;
		margin-bottom: 30px;
		margin-top: -20px;
	}
	div#block-thumbnail-proyek .col-sm-3 {
		width: 50%;
		padding: 0 7px;
		float: left;
	}
	.title-proyek {
		font-weight: bold;
		font-size: 15px;
		min-height: 50px;
		line-height: 1.3;
		margin-top: 2px;
		padding: 0 15px;
	}
	.content-proyek {
		padding: 12px 0;
	}
	div#block-filter-proyek .form-control {
		width: 100%;
		color:#000;
		margin: 0 0 15px;
	}
	.menu-button-mobile ul.list-inline li:nth-last-child(4):first-child, .menu-button-mobile ul.list-inline li:nth-last-child(4):first-child ~ li {
		width: 25%;
	}
	.menu-button-mobile ul.list-inline li:nth-last-child(3):first-child, .menu-button-mobile ul.list-inline li:nth-last-child(3):first-child ~ li {
		width: 33.33%;
	}
	.menu-button-mobile ul.list-inline li:nth-last-child(2):first-child, .menu-button-mobile ul.list-inline li:nth-last-child(2):first-child ~ li {
		width: 50%;
	}
	.menu-button-mobile ul.list-inline li:nth-last-child(1):first-child, .menu-button-mobile ul.list-inline li:nth-last-child(1):first-child ~ li {
		width: 100%;
	}
	/* #slide-home{display:none !important} */
	#header-site {
		top: 0px;
		margin:0
	}
	img.background-slide {
		max-width: none;
		width: 140%;
	}
	img.component-slide1 {
		max-width: 60%;
	}
	img.component-slide2 {
		max-width: 95%;
	}
	img.component-slide3 {
		max-height: 60%;
	}
	.table-default,.table-default tbody,.table-default tr, .table-default td{
		display:block;
		width:100% !important
	}
	#header-site a.navbar-brand{float:none}
	.navbar-header:before {display:none}
	.navbar-header {
		display: flex;
		justify-content: space-between;
	}
	div#header-top {display: none;}
	.slide-text {
		position: relative;
		transform: translateY(0) translateX(0);
		top: 0;
		left: 0;
	}
	/* div#slide-home img { */
		/* position: absolute; */
		/* max-width: none; */
		/* height: 100%; */
		/* right: 0; */
	/* } */
	.slide-text *{position:relative}
	.slide-text:before {
		content:"";
		display:block;
		position:absolute;
		width:100%;
		height:100%;
		top:0;
		left:0;
		background:rgba(0, 0, 0, 0.3);
	}
	.slide-text {
		display:none;
		position: relative;
		transform: translateY(0) translateX(0);
		-o-transform: translateY(0) translateX(0);
		-webkit-transform: translateY(0) translateX(0);
		-moz-transform: translateY(0) translateX(0);
		-ms-transform: translateY(0) translateX(0);
		top: 0;
		left: 0;
		text-align: center;
		padding: 20px 16px;
		color: #fff;
	}
	.slide-text h1 {
		font-size: 20pt;
	}
	div#call-block .container {
		display: block;
		text-align: center;
		padding: 20px 15px;
	}
div#call-block h2 {
    margin-bottom: 20px;
    margin-top: 5px;
}
.more {
    padding: 9px 20px;
}
	div#strengt {
		padding: 40px 20px;
	}
	.strengt-item img {
		width: 60px;
		padding-right: 10px;
	}
	.title-strengt h4 {
		margin-top: 0;
	}
	.strengt-item {
		margin-bottom: 20px;
	}
	#strengt .col-sm-3:last-child .strengt-item {margin-bottom:0}
	#who-we-are .container > .row{display:block;padding-bottom:0}
	div#who-we-are {
		padding:30px 15px;
	}
#who-we-are .page-header {
    margin-right: -10px;
    font-size: 21px;
}
h1.page-header{font-size:25px;margin-bottom:25px}
div#brands-home tr{display:block}
div#brands-home td {
    width: 50%;
    float: left;
}
.product-col {
    position: relative;
    margin-bottom: 10px;
}
.content-wrapper {
    padding: 40px 0;
}
div#slide-catalog {
    margin: 0 -15px;
}
.row.thumbnail-product.grid {
    margin: 0 -20px;
}
.row.thumbnail-product.grid > div,div#slide-catalog > div:nth-child(odd) {padding-right:5px}
.row.thumbnail-product.grid > div,div#slide-catalog > div:nth-child(even) {padding-left:5px}
.product-col .title-product * {
    font-size: 12pt;
}
div#slide-catalog > div {
    width: 50%;
	float:left;
}
.row.thumbnail-product.grid > div {
    width: 50%;
    float: left;
}
h1.page-header:after {
    content: "";
    width: 70px;
height: 4px;}
	#who-we-are .page-header:after {
		margin-left: 0;
		margin-right:auto;
	}
	#who-we-are .col-sm-6:last-child{
		/* padding: 0; */
		
		margin-top:30px
	}
	div#footerlink .row > div {
		margin-bottom: 50px;
		padding:0 30px
	}
	div#footerlink .row > div:last-child {
		margin-bottom: 0;
	}
	div#copyright {
		padding: 15px 15px;
	}
	.navbar-collapse {
		-webkit-transition: -webkit-transform 0.4s ease;
		transition: -webkit-transform 0.4s ease;
		transition: transform 0.4s ease;
		transition: transform 0.4s ease, -webkit-transform 0.4s ease;
		overflow-x: visible;
		border-top: none !important;
		box-shadow: none !important;
		display: block;
		visibility: visible;
		position: fixed;
		opacity: 1;
		box-shadow: none !important;
		-moz-box-shadow: none !important;
		-webkit-box-shadow: none !important;
		-o-box-shadow: none !important;
		width: 300px;
		top: 0;
		right:0;
		height: 100% !important;
		background: #fff;
		max-width: 80vw;
		padding: 0 25px;
		z-index: 9999;
		-webkit-transform: translate3d(300px, 0, 0);
		transform: translate3d(300px, 0, 0);
	}
	.navbar-nav {
		margin: 7.5px 0;
	}
	.navbar-inverse .navbar-nav>li>a {
		color: #000;
		font-weight: normal;
		padding: 5px 10px;
		margin-bottom: 26px;
		margin-top: 0;
		text-transform: uppercase;
	}
	.navbar-collapse.in, .navbar-collapse.collapsing {
		visibility: visible;
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	.bg-black {
		position: fixed!important;
		top: 0!important;
		left: 0!important;
		width: 100vw!important;
		height: 100vh!important;
		opacity: 0.2;
		display: none;
		background-image: none!important;
		background-color: #000;
		z-index: 999;
	}
	.menu-active .bg-black {
		display: block;
	}
	.menu-active{overflow:hidden;}
	div#close-menu {
		font-size: 22pt;
		padding:0 34px !important;
		z-index: 9999;
		color: #000;
		text-align: right;
		font-weight: bold;
		right: 0;
		top: 0;
		line-height: 50px;
		position: relative;
		margin-bottom: 17px;
		margin-top: 3px;
	}
	.navbar-inverse .navbar-nav>li {
		margin-left: 15px;
	}
	#who-we-are .slideInRight,#who-we-are .slideInLeft {
		animation-name: fadeInUp !important;
	}
	#button-mobile{
		position: fixed;
		bottom: 0;
		width:100%;
		z-index:4;
		text-align:center;
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}
	.button-mobile-toggle {
		width: 150px;
		height: 40px;
		background:url(images/button-mobile.png)no-repeat 50% -430px/430px;
		margin:0 auto;
		display:block;
	}
	.menu-button-mobile ul.list-inline li a{display:block;height:100%;}
	.menu-button-mobile ul.list-inline li span{width: 40px;height: 100%;background:url(images/button-mobile.png)no-repeat 0 0/430px;display:inline-block;}
	.menu-button-mobile ul.list-inline li span.button-menu-icon {
		background-position: -376px -9px;
		background-size: 470px;
	}
	.menu-button-mobile ul.list-inline li span.button-phone-icon{background-position:-82px -6px;}
	.menu-button-mobile ul.list-inline li span.button-mail-icon{background-position:-147px -6px;}
	.menu-button-mobile ul.list-inline li {
		width: 33.333%;
		float: left;
		height: 53px;
		margin: 0;
		border-left: 1px solid #d9d9d9;
		border-left-color: #bbb;
	}
	.menu-button-mobile ul.list-inline li:first-child {
		border-left: 0px solid;
	}
	.menu-button-mobile ul.list-inline:after{content:"";clear:both;display:block}
	.menu-button-mobile ul.list-inline {
		margin: 0;
		text-align: center;
		background: rgba(255, 255, 255, 0.95);
		box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.5);
		-ms-box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.5);
		-moz-box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.5);
		-webkit-box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.5);
	}
	.button-wa-icon {
		background-position: -343px -6px !important;
	}
	span.button-email-icon {
		background-position: -147px -6px !important;
	}
	span.button-map-icon {
		background-position: -215px -6px !important;
	}
	body {
		padding-bottom: 53px;
	}
	#header-site a.navbar-brand {max-width: calc(100% - 60px);}
	.navbar-brand>img {display: block;height: auto;}
}